{{ define "loadshortcodes" }}

{{ $pag := where site.RegularPages "Type" "in" site.Params.mainSections | .Paginate }}
{{ range $pag.Pages }}
{{ with .Content }}{{ end }}
{{ with .Scratch.Get "css" }}
{{ . | merge ($.Scratch.Get "css") | $.Scratch.Set "css" }}
{{ end }}
{{ with .Scratch.Get "js" }}
{{ . | merge ($.Scratch.Get "js") | $.Scratch.Set "js" }}
{{ end }}
{{ end }}
{{ .Scratch.Set "paginator" $pag }}

{{ end }}

{{ define "main" }}

{{ $pag := .Scratch.Get "paginator" }}
{{ range $pag.Pages }}
<article>
  {{ partial "heading.html" . }}
  {{ if site.Params.summaries }}
  {{ .Summary }}
  {{ if .Truncated }}
  <p>
    <a class="u-clickable" href="{{ .RelPermalink }}">Read More…</a>
  </p>
  {{ end }}
  {{ else }}
  {{ .Content }}
  {{ end }}
  {{ partial "tags.html" . }}
</article>
{{ with site.Params.divider }}<div class="Divider"></div>{{ end }}
{{ end }}
{{ partial "pagination.html" . }}

{{ end }}
