body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  border-radius: 0.2rem;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td, th {
  border: 0.1rem solid gray;
  padding: 0.3rem 0.5rem;
}

pre {
  overflow-x: auto;
  border: 0.1rem solid lightgray;
  padding: 1rem;
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

kbd {
  border: 0.1rem solid darkgray;
  border-radius: 0.2rem;
  margin: 0.1rem;
  padding: 0.15rem;
}

kbd:has(kbd) {
  padding: 0.3rem 0;
}

.Banner {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

{{ $len := len site.Menus.main }}
{{ range seq $len }}

  .Banner-item:nth-child({{ . }}) {
    order: {{ sub $len . | add 1 }};
  }

{{ end }}

.Banner-item--title {
  flex-grow: 1;
}

.Banner-link {
  font-size: 1.25rem;
  color: white;
  padding: 0.5rem 1rem;
}

.Heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.Heading-title {
  margin: 1.5rem 0.5rem 0 0;
}

.Heading-link {
  color: inherit;
}

{{ with site.Params.linkicons }}

  .Heading-link::after {
    content: "\1f517";
    font-size: 0.7rem;
    vertical-align: middle;
    margin-left: 0.5rem;
    {{ if eq . "hover" }}visibility: hidden;{{ end }}
  }

  {{ if eq . "hover" }}

    .Heading-link:hover::after {
      visibility: visible;
    }

  {{ end }}

{{ end }}

.Tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 0;
}

.Tags-item {
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0 0.3rem;
}

.Tags-link {
  color: white;
}

{{ with site.Params.divider }}

  .Divider {
    display: flex;
    justify-content: center;
  }

  .Divider::after {
    content: "{{ . }}";
  }

{{ end }}

.Pagination {
  font-size: 1.25rem;
  color: inherit;
}

.Pagination--right {
  float: right;
}

.Footer {
  text-align: center;
  margin: 1rem 0;
}

.u-wrapper {
  {{ with site.Params.width }}max-width: {{ . }};{{ end }}
  margin: auto;
}

.u-padding {
  padding: 0 1rem;
}

.u-background {
  background: {{ site.Params.color }};
}

.u-clickable {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.u-noboosting {
  max-height: 1000000px;
}
