.Soundcloud {
  height: 166px;
}

.Soundcloud:empty {
  display: none;
}

.Soundcloud-iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.Soundcloud-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0.1rem solid lightgray;
  border-radius: 0.3rem;
  background: whitesmoke;
  cursor: pointer;
}
