<nav class="u-background">
  <div class="u-wrapper">
    <ul class="Banner">
      <li class="Banner-item Banner-item--title">
        <a class="Banner-link u-clickable" href="{{ relLangURL nil }}">{{ site.Title }}</a>
      </li>
      {{ range site.Menus.main }}
        {{ $url := relLangURL .URL }}
        {{ if isset .Params "format" | and .Page }}
          {{ $url = (.Page.OutputFormats.Get .Params.format).RelPermalink }}
        {{ end }}
        <li class="Banner-item">
          <a class="Banner-link u-clickable" href="{{ $url }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
