{{ $taxonomies := slice }}
{{ range $taxonomy, $pages := site.Taxonomies }}
{{ $taxonomies = $taxonomies | append $taxonomy }}
{{ end }}
{{ if true | in (apply $taxonomies "isset" .Params ".") }}
<footer>
  {{ range $taxonomy := $taxonomies }}
  {{ if isset $.Params $taxonomy }}
  <ul class="Tags">
    {{ range $.GetTerms $taxonomy }}
    <li class="Tags-item u-background">
      <a class="Tags-link u-clickable" href="{{ .Permalink }}" rel="tag">{{ .LinkTitle }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}
</footer>
{{ end }}
