{{ define "preload" }}

{{ $paginator := where site.RegularPages "Type" "in" site.Params.mainSections | .Paginate }}
{{ range $paginator.Pages }}
{{ with .Content }}{{ end }}
{{ with .Scratch.Get "css" }}
{{ merge ($.Scratch.Get "css") . | $.Scratch.Set "css" }}
{{ end }}
{{ with .Scratch.Get "js" }}
{{ merge ($.Scratch.Get "js") . | $.Scratch.Set "js" }}
{{ end }}{{ end }}
{{ .Scratch.Set "paginator" $paginator }}

{{ end }}

{{ define "main" }}

{{ $paginator := .Scratch.Get "paginator" }}
{{ range $paginator.Pages }}
<article>
  {{ partial "heading.html" . }}
  {{ if site.Params.summaries }}
  {{ .Summary }}
  {{ if .Truncated }}
  <div>
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
  {{ else }}
  {{ .Content }}
  {{ end }}
  {{ partial "tags.html" . }}
</article>
{{ end }}
{{ partial "pagination.html" $paginator }}

{{ end }}
