{{ resources.Get "css/contact.css" | minify | fingerprint | slice | .Page.Scratch.Add "css" }}
<form class="Contact" name="contact" method="POST" netlify{{ with .Get 0 }} action="{{ . | relURL }}"{{ end }}>
  <ul class="Contact-group">
    <li class="Contact-item">
      <label for="Contact-name" class="Contact-label">Name:</label>
      <input id="Contact-name" class="Contact-input" type="text" name="name" autofocus>
    </li>
    <li class="Contact-item">
      <label for="Contact-email" class="Contact-label">Email:</label>
      <input id="Contact-email" class="Contact-input" type="email" name="email">
    </li>
    <li class="Contact-item">
      <label for="Contact-subject" class="Contact-label">Subject:</label>
      <input id="Contact-subject" class="Contact-input" type="text" name="subject">
    </li>
    <li class="Contact-item">
      <label for="Contact-message" class="Contact-label">Message:</label>
      <textarea id="Contact-message" class="Contact-input Contact-input--textbox" name="message" required></textarea>
    </li>
    <li class="Contact-item">
      <button class="Contact-button" type="submit">Send</button>
    </li>
  </ul>
</form>